<header id="header">

<div class="row">
  <div class="col-md-2 col-md-offset-1 logo">
      <a href="{% url 'home' %}">BLOGRAM</a>
  </div>
  {% if request.user.is_authenticated %}
      <div class="col-md-2 col-md-offset-6">
          {{request.user.username}} 
          <a href= "{% url 'logout' %}">LOGOUT </a>
      </div>
  {% else %}
      <div class="col-md-1 col-md-offset-6">
          <a href="{% url 'login' %}">LOGIN</a>
      </div>
      <div class="col-md-1">
          <a href="{% url 'signup' %}">SIGNUP</a>
      </div>
  {% endif %}

</header>
